{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
    <div class="quote-section">
        <blockquote class="quote">
                “A good book is a friend<br>that never lets you down.”  
        </blockquote>
        <p class="quote-text">
                Are you ready to meet your next best friend? 
        </p>
        {% if user.is_authenticated %}
            <a href="{% url 'book_list' %}" class="explore-btn">Explore Our Books</a>
        {% else %}
            <a href="{% url 'login' %}" class="explore-btn">Explore Our Books</a>
        {% endif %}
    </div>
</div>
{% endblock %}
